In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import numpy as np

In [2]:
#data = pd.read_json('data2\\entries__to_2017-10-01.json')
treatments = pd.read_csv('treatments_combined.json', low_memory=False, parse_dates=True, )
print(treatments.shape)
treatments.head()

(251298, 45)

,Unnamed: 0,CMR,Site-change,_body,_date,_description,_head,_id,_type,absolute,...,tail,targetBottom,targetTop,temp,timeFormat,timestamp,type,units,uuid,wizard
0,0,NaN,NaN,NaN,NaN,NaN,NaN,5a8a5722b08ad27a969f7086,NaN,1.250,...,NaN,NaN,NaN,NaN,NaN,2018-02-19 04:47:53,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,5a8a52e9b08ad27a969dfdea,NaN,1.150,...,NaN,NaN,NaN,NaN,NaN,2018-02-19 04:29:57,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,5a8a5181b08ad27a969d8405,NaN,0.625,...,NaN,NaN,NaN,NaN,NaN,2018-02-19 04:23:38,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,5a8a09e9b08ad27a968bd1ba,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,IFTTT-button,NaN,NaN,NaN,NaN,NaN,5a8a076bb08ad27a968b668a,NaN,NaN,...,NaN,75.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
treatments.columns

Index(['Unnamed: 0', 'CMR', 'Site-change', '_body', '_date', '_description',
       '_head', '_id', '_type', 'absolute', 'amount', 'appended', 'bg',
       'bolus', 'boluscalc', 'carbs', 'changed', 'created_at', 'duration',
       'enteredBy', 'eventType', 'fixed', 'glucose', 'glucoseType', 'insulin',
       'maxBasal', 'medtronic', 'notes', 'preBolus', 'rate', 'ratio',
       'raw_duration', 'raw_rate', 'reason', 'stale', 'tail', 'targetBottom',
       'targetTop', 'temp', 'timeFormat', 'timestamp', 'type', 'units', 'uuid',
       'wizard'],
      dtype='object')

In [5]:
treatments.isnull().sum()

Unnamed: 0           0
CMR             249958
Site-change     251006
_body           251232
_date           245094
_description    245094
_head           245094
_id                  0
_type           245094
absolute         72496
amount          248774
appended        251258
bg              249958
bolus           194222
boluscalc       251284
carbs           242774
changed         251258
created_at           0
duration         13428
enteredBy         1638
eventType         4398
fixed           250596
glucose         248458
glucoseType     248458
insulin         191446
maxBasal        251284
medtronic         9164
notes           188320
preBolus        251292
rate             72480
ratio           249958
raw_duration     72500
raw_rate         72500
reason          245626
stale           251258
tail            251258
targetBottom    250024
targetTop       250024
temp            251286
timeFormat      251294
timestamp         6414
type            250596
units           251148
uuid            248548
wizard          249958
dtype: int64